* {
    box-sizing: border-box;
}


body {

    margin: 0;

    min-height: 100vh;

    font-family: "Microsoft YaHei", sans-serif;

    background: linear-gradient(
        180deg,
        #dff3d8,
        #f8f3df
    );

}


.container {

    width: 90%;

    max-width: 1000px;

    margin: 0 auto;

    padding: 60px 20px;

    text-align: center;

}



h1 {

    font-size: 52px;

    color: #356b3a;

    margin-bottom: 10px;

}


.subtitle {

    font-size: 22px;

    color: #666;

}





/* 小鸟卡片 */

.bird-card {

    width: 85%;

    margin: 40px auto;

    background: rgba(255,255,255,0.8);

    border-radius: 40px;

    padding: 50px;

}


.bird {

    font-size: 130px;

}


.bird-card p {

    font-size: 24px;

    color:#555;

}






/* 任务区域 */

.task-card {

    width:85%;

    margin:40px auto;

    padding:45px;

    background:white;

    border-radius:40px;

}


.task-card h2 {

    font-size:32px;

    color:#356b3a;

}



.task-input {


    width:85%;


    padding:22px;


    font-size:22px;


    border-radius:25px;


    border:1px solid #ddd;


}







/* 时间选择 */

.time-box {


    margin:30px;


    font-size:25px;


}


#timeShow {


    color:#6da85b;


    font-size:40px;


}





.time-slider {


    width:80%;

    margin:40px auto;

}



input[type="range"] {


    width:100%;

    height:12px;


    accent-color:#6da85b;


}






button {


    background:#6da85b;


    color:white;


    border:none;


    padding:22px 60px;


    font-size:24px;


    border-radius:50px;


    cursor:pointer;


}


button:hover {


    background:#568b46;


}
