body {

    margin: 0;

    padding: 0;

    font-family: "Microsoft YaHei", sans-serif;

    background: linear-gradient(#dff3d8,#f8f3df);

    min-height:100vh;

}



.app {

    width:90%;

    max-width:900px;

    margin:auto;

    padding:50px 20px;

}



.page {

    display:none;

    text-align:center;

}



.page.active {

    display:block;

}



h1 {

    font-size:42px;

    color:#356b3a;

}



h2 {

    color:#356b3a;

}



.subtitle {

    font-size:18px;

    color:#777;

}





/* 小鸟区域 */

.bird {

    background:rgba(255,255,255,0.8);

    border-radius:35px;

    padding:40px;

    margin:35px auto;

    width:80%;

}



.big {

    font-size:100px;

}



.bird p {

    font-size:20px;

    color:#666;

}






/* 任务输入 */

.task {

    background:white;

    border-radius:30px;

    padding:35px;

    margin:30px auto;

    width:80%;

}



input {

    width:80%;

    padding:18px;

    border-radius:20px;

    border:1px solid #ddd;

    font-size:18px;

}






/* 横向时间滚轮 */

.time-picker {


    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    margin:30px auto;

}



.time-option {


    width:70px;

    height:70px;

    border-radius:50%;


    display:flex;

    align-items:center;

    justify-content:center;


    background:#eeeeee;


    font-size:22px;

    color:#777;


}




.active-time {


    width:95px;

    height:95px;


    background:#6da85b;


    color:white;


    font-size:30px;


    box-shadow:0 8px 20px rgba(0,0,0,0.15);

}






button {


    background:#6da85b;


    color:white;


    border:none;


    padding:18px 45px;


    border-radius:40px;


    font-size:20px;


    cursor:pointer;


    margin:15px;


}




button:hover {

    background:#568b46;

}






/* 倒计时 */

#timer {


    font-size:70px;


    color:#356b3a;


    margin:40px;


}


